# Compiled class file
*.class

# Log file
*.log

/.metadata/
java-workspace/.metadata/
java-workspace/java/doc/
java-workspace/java/.settings/org.eclipse.jdt.core.prefs
java-workspace/java/.project
java-workspace/.recommenders/
java-workspace/Servers/
java-workspace/java-web/.settings/
java-workspace/RemoteSystemsTempFiles/
*.project
java-workspace/mvc-web/.settings/
java-workspace/jboard/.settings/
java-workspace/mysite/.settings/
java-workspace/jgame/.settings/
java-workspace/node-web/.settings/
java-workspace/spring-ex/.settings/
java-workspace/maven-web/.settings/
