@charset "UTF-8";

th, td {
	border: 1px solid;
}

#detail-table{
	width: 60%;
	border: 1px solid;
}

#detail-table td {
	padding: 0 5px;
}

#comment-input {
	width: 50%;
}

.left {
	float: left;
}

.right {
	float: right;
	font-weight: lighter;
}

#input-comment-content {
	resize: none;
	width: 100%;
	height: 70px;
	margin: 10px 0;
}

div.board-comment {
	margin-bottom: 5px;
}

div.comment-writer { 
	border-radius:5px 5px 0 0;
	border:1px solid #ccc;
	border-bottom:0;
	font-weight:bold;
	text-align: left;
	width:50%;
	padding: 10px 20px;
}
div.comment-content {
	border-radius:0 0 5px 5px;
	border:1px solid #ccc;
	text-align: left;
	width:50%;
	padding: 10px 20px;
}