@charset "UTF-8";

#write-table {
	width: 60%;
	border: 1px solid #dee2e6;
}

#write-table th, #write-table td {
	border: 1px solid #dee2e6;
}

#write-table th {
	text-align: center;
	padding: 0 5px;
}

#write-table td {
	padding: 0 5px;
}